<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeatAllocation</title>
    <!-- Syncfusion® ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/34.1.29/tailwind3.css" />
    <!-- Syncfusion® ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/34.1.29/dist/ej2.min.js"></script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        .e-tab {
            background: aliceblue;
        }
        #eymardTabs, #mathuraTabs {
            height: 100%;
        }
        #eymardTabs .e-content, #mathuraTabs .e-content {
            height: 100%;
            overflow: hidden;
        }
        #eymardTabs .e-content > .e-item,
        #mathuraTabs .e-content > .e-item {
            height: 100%;
        }
        .diagram-container {
            display: flex;
            height: 100%;
            width: 100%;
        }
        .e-diagram{
            flex: 1;
            overflow: hidden;
            background-color: #f4f4f4 !important;
        }
    </style>
</head>
<body>
    @RenderBody()

    <!-- Syncfusion® ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
    
    <!-- Common Diagram Initialization Script -->
    <script src="~/js/diagram-init.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
