@page
@model IndexModel
@{
    ViewData["Title"] = "Seat Reservation";
    Layout = "_Layout";
}

<div class="diagram-container">
    <div class="palette-container">
        <ejs-symbolpalette id="symbolpalette" 
            width="100%" 
            height="100%" 
            symbolHeight="60"
            symbolWidth="60">
        </ejs-symbolpalette>
    </div>
    <div class="diagram-content">
        <ejs-diagram id="diagram" width="100%" height="100%"></ejs-diagram>
    </div>
</div>

@section Scripts {
    <script src="~/js/floorplan-shapes.js"></script>
    <script src="~/js/palettes.js"></script>
    <script type="text/javascript">
        function getSymbolInfo(symbol) {
            return { tooltip: symbol.title };
        }
        
        function getConnectorDefaults(connector) {
            connector.type = 'Orthogonal';
            connector.targetDecorator = { shape: 'Arrow' };
            return connector;
        }
    </script>
    <script src="~/js/diagram-init.js"></script>
}
